.hero-title-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 20px;
}

.hero-image {
  display: flex;
  justify-content: center;
  margin-top: 13vh;
}
.hero-logo {
  margin: auto;
  width: 120px;
  filter: drop-shadow(0 0 30px rgba(197, 160, 89, 0.3));
}

.tab-title {
  font-size: 3rem;
  font-weight: 900;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.2); /* Apagado por defecto */
  transition: all 0.4s ease;
  letter-spacing: -2px;
}

.tab-title:hover {
  color: white;
}

.tab-title.active {
  color: var(--sycel-gold); /* El dorado que ya usas */
  text-shadow: 0 0 20px rgba(197, 160, 89, 0.5);
}

/* Animación de entrada */
.fade-in {
  animation: fadeIn 0.5s ease forwards;
  padding: 40px 20px;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
